/* 320-575 => Extra Small -> col
576-767 => Small -> col-sm
768-991 => Medium -> col-md
992-1199 => large -> col-lg
1200-1399 => Extra large col-xl 
1400 => Extra Extra large -> col-xxl */
@import "resets";
@import "presets";

@media (max-width: 575px) {
	header #banner .overlay .intro {
		top: 6%;
	}
	header #banner .overlay .intro .logo img {
		width: 170px;
	}
	header #banner .overlay .intro .tagline {
		font-size: 28px;
		line-height: 38px;
	}
	header #banner .overlay .intro .action-text {
		font-size: 18px;
	}

	header #banner .overlay .intro .socials {
		display: none;
	}

	.section-title h2 {
		font-size: 36px;
	}

	#courses {
		padding: 110px 0 10px;
	}

	#courses .row {
		padding: 0;
	}

	#courses .row .course .title p {
		font-size: 16px;
	}

	#courses .row .course .title h3 {
		font-size: 24px;
	}

	#courses .row .course .details .price {
		font-size: 18px;
	}

	#courses .row .course .details .price .price-extra {
		font-size: 18px;
	}

	#courses .row .course .details a {
		font-size: 18px;
	}

	#awards {
		padding: 100px 0 10px;
	}

	#awards .award-slider img {
		height: auto;
		width: 100%;
	}

	#about {
		padding: 100px 0 10px;
	}

	#about .row {
		flex-flow: column-reverse;
	}

	#about .about-text {
		margin: 0;
		margin-bottom: 30px;
		font-size: 18px;
		text-align: center;
	}

	#about .about-text .vision {
		margin-top: 15px;
	}

	#about .about-text .vision strong i {
		top: -30px;
		left: 22px;
		font-size: 70px;
	}

	#about .ceo figcaption h3 {
		font-size: 28px;
	}

	#about .ceo figcaption p {
		font-size: 18px;
	}

	#gallery .fb {
		// display: none;
	}

	#contact {
		padding: 100px 0 150px;
	}

	#contact .items .item .info {
		flex-direction: column;
		align-items: center;
	}

	#contact .items .item .info .details {
		margin: 0;
		margin-top: 10px;
		text-align: center;
	}

	#contact .items .item .socials {
		margin-top: 15px;
		flex-wrap: wrap;
	}

	#contact .items .item .socials .breaker {
		width: 100%;
	}

	#contact .items .item .socials a {
		margin: 10px 3px 0;
	}

	#contact .items .item {
		margin-bottom: 25px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) and (max-width: 1399px) {
}

@media (min-width: 1400px) {
}

body.dark-mode {
	background-color: rgba(15, 0, 0, 0.97);

	#particles {
		opacity: 0.5;
	}

	.section-title h2 {
		color: $white;
		&::after {
			background-color: $white;
		}
	}

	#navbar {
		.navbar {
			background-color: rgba(15, 0, 0, 0.85);
			box-shadow: 0px 3px 1px 0px rgba(255, 242, 242, 0.1);

			.nav-link {
				color: $white;
				&:hover,
				&:active,
				&:focus,
				&.active {
					color: $lightred;
				}
			}
		}
	}

	#banner {
		background-image: url("../media/banner-dark.jpg");

		.overlay .intro {
			.tagline {
				color: $white;
				filter: drop-shadow(2px 2px 10px $black);
			}
			.action-text {
				color: $white;
				filter: drop-shadow(2px 2px 7px $black);
			}
			.socials {
				a {
					background-color: $white-overlay;
					color: $white;

					&:hover {
						background-color: $white;
						color: $darkred;
					}
				}
			}
		}
	}

	#courses {
		.row {
			.course {
				background-color: rgba(0, 0, 0, 0.7);
				box-shadow: 0 5px 15px rgb(255 153 153 / 20%);
				.title {
					border-bottom: 2px solid #444;
					h3 {
						color: $white;
					}
					p {
						color: #999;
					}
				}

				.details {
					.price {
						color: $white;

						.price-extra {
							color: #999;
						}
					}

					a {
						color: $lightred;

						&:hover {
							color: $red;
						}
					}
				}
				&:hover {
					.details a {
						color: $red;
					}
				}
			}
		}
	}

	#awards {
		.section-title {
			p {
				color: $white;
				a {
					color: $lightred;
					&:hover {
						color: $red;
					}
				}
			}
		}
		.award-slider {
			.slick-dots {
				li {
					background-color: $lightred;
					&:hover {
						background-color: $red;
					}
				}

				.slick-active {
					background-color: $red;
				}
			}
		}

		.light-btn {
			margin-top: 20px;
		}
	}

	#about {
		figcaption {
			h3,
			p {
				color: $white;
			}
			.socials a {
				background-color: $white-overlay;
				color: $white;

				&:hover {
					background-color: $white;
					color: $darkred;
				}
			}
		}
		.about-text {
			color: $white;
		}
		.vision i {
			color: $lightred;
		}
	}
	#contact {
		.item {
			background-color: rgba(0, 0, 0, 0.7);
			border-top: 4px solid $lightred;
			box-shadow: 0 5px 15px rgb(255 153 153 / 20%);
			color: $white;

			.icon-holder {
				background: $lightred;

				i {
					font-size: 28px;
					color: $black;
				}
			}

			.title {
				color: $white;
			}

			.details {
				color: #999;

				&:hover {
					color: $white;
				}
			}

			a {
				color: #999;

				&:hover,
				&:visited {
					color: $lightred;
				}
			}

			&:hover {
				border-color: $red;
				.icon-holder {
					background: $red;
					i {
						color: $white;
					}
				}
			}
		}
		.socials {
			a {
				background-color: $white-overlay;
				color: $white;

				&:hover {
					background-color: $white;
					color: $darkred;
				}
			}
		}
	}
}
