{% extends "production_house/base.html" %}
{% block content %}

  <legend class="border-bottom mb-1 mt-2">Resource</legend>
  {% if user.is_admin or user.is_student and resource.batch in user.student.batches.all or user.is_teacher and resource.batch in user.teacher.batches.all %}
    <div class="mx-auto" style="max-width: 700px;">
      <div style="background-color: #fff; width: 100%; padding: 25px; border: 1px solid #ddd; border-radius: 5px;">
        <div class="rounded-circle" style="width: 50px; height: 50px; overflow: hidden;">
          <img src="
            {% if resource.author.is_teacher %}
              {{ resource.author.teacher.image.url }}
            {% elif resource.author.is_admin %}
              {{ resource.author.admin.image.url }}
            {% endif %}
          " alt="Author Profile Pic" width="100%">
        </div>
        <p class="m-0"> {{resource.author.first_name }} {{resource.author.last_name }}</p>
        <p class="small text-muted"> {{resource.posted_on|date:'d M Y' }} at {{resource.posted_on|date:'g:i a' }} </p>
        <h3 class="fs-5"> {{resource.title }}</h3>
        <p class="text-muted">{{ resource.content|safe }}</p>
        <div class="resource-files">
          {% for file in resource.files.all %}
            {% if file.type == 'I' %}
              <!-- <img width="100%" src="{{ file.file.url }}" alt="{{ file.title }} Image"> -->
              <a class="resource-image" title="{{ file.title }}" href="{{ file.file.url }}">
                <img width="100%" src="{{ file.file.url }}" alt="{{ file.title }} Image"/>
              </a>
            {% elif file.type == 'V' %}
              <video width="100%" controls>
                <source src="{{ file.file.url }}">
              </video>
            {% elif file.type == 'A' %}
              <audio width="100%" controls>
                <source src="{{ file.file.url }}">
              </audio>
            {% elif file.type == 'D' %}
              <!-- <embed src="{{ file.file.url }}" width="800px" height="2100px" /> -->
            {% endif %}
            <p class="small text-muted">{{ file.title }}</p>
          {% endfor %}
        </div>
    
        <p class="small text-muted m-0">
          {{ resource.batch.title }}
          ({{ resource.session.title }})
          <br>
          {{ resource.course.title }}
        </p>
      </div>
      
      <a class="btn btn-primary ms-1 mt-3" href="{% url 'resource-add-file' resource.id%}">Add File</a>
    
    </div>
  {% else %}
    <div class="alert alert-info">
      Sorry, you cannot view this resource as you are not enrolled in the batch, {{ resource.batch }} ({{ resource.session }}), of '{{ resource.course }}' course.
    </div>
  {% endif %}
    

 
{% endblock content %}