{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="mb-5" style="max-width: 600px">
    <form class="" action="" method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mt-2 mb-4 pb-2">Reset Password</legend>
      </fieldset>
      {{ form|crispy}}
      <div class="form-group mt-3">
        <button class="btn btn-outline-info" type="submit">Submit</button>
      </div>
    </form>
  </div>

{% endblock content %}