{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>শুদ্ধ উচ্চারণ ও আবৃত্তি কোর্স - শামীমা আক্তার</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">

    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/lc_lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/minimal.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

  </head>

  <body>


    <header>
      <div id="logo-bar" hide="no">
        <div class="border"></div>
        <div class="logo-holder">
          <div class="fix-left">
            <img src="/media/static/logo_holder_left_fix.svg">
          </div>
          <figure class="logo">
            <img src="/media/static/logo.png" alt="Tumio Parbe" width="100px">
          </figure>
          <div class="fix-right">
            <img src="/media/static/logo_holder_right_fix.svg">
          </div>
        </div>
      </div>
    </header>

    <main>

      <section id="course" class="container">
        <article>
          <h1 class="title" lang="bn">শুদ্ধ উচ্চারণ ও আবৃত্তি কোর্স</h1>

          <p class="description" lang="bn">নিয়মিত ক্লাসের মাধ্যমে বাংলা বাচিক শিল্পের একাধিক বিষয়ে প্রশিক্ষণ।</p>

          <h2 lang="bn">প্রশিক্ষক</h2>
          <figure class="ccard instructor">
            <img src="/media/static/courses/shamima_akter.png" alt="Shamima Akter">

            <figcaption>
              <h3 lang="bn">শামীমা আক্তার</h3>
              <p lang="bn">আবৃত্তি শিল্পি ও প্রতিষ্ঠাতা পরিচালক, তুমিও পারবে</p>
            </figcaption>
          </figure>


          <h2 lang="bn">এই কোর্সে যা যা শিখবেন</h2>
          <div class="ccard">
            <ul lang="bn">
              <li><i class="fa-solid fa-check"></i>আবৃত্তি</li>
              <li><i class="fa-solid fa-check"></i>বাংলা প্রমিত ভাষার শুদ্ধ উচ্চারণ</li>
              <li><i class="fa-solid fa-check"></i>পাঠ পদ্ধতি ও উপস্থাপনা</li>
              <li><i class="fa-solid fa-check"></i>অভিনয়</li>
              <li><i class="fa-solid fa-check"></i>নিয়মিত লাইভ অনুষ্ঠানের মাধ্যমে চর্চা</li>
            </ul>
          </div>

          <h2 lang="bn">এই কোর্সে পাচ্ছেন</h2>
          <div class="ccard">
            <ul lang="bn">
              <li><i class="fa-solid fa-check"></i>প্রতি মাসে মোট ৮ টি ক্লাস</li>
              <li><i class="fa-solid fa-check"></i>প্রতিটি কবিতার নির্মিত আবৃত্তির অডিয় রেকর্ড</li>
              <li><i class="fa-solid fa-check"></i>বিভিন্ন লাইভ অনুষ্ঠানে পারফর্ম করার সুযোগ</li>
              <li><i class="fa-solid fa-check"></i>দরকারি বই, কবিতার লিরিক্স ও অন্যান্য রিসোর্স</li>
              <li><i class="fa-solid fa-check"></i>আমাদের অফিসিয়াল গ্রুপে ফ্রি মেম্বারশিপ</li>
            </ul>
          </div>

          <h2 lang="bn">ক্লাস রুটিন</h2>
          <div class="routine">
            <table lang="bn">
              <tr>
                <th>
                  ব্যাচ
                </th>
                <th>
                  দিন
                </th>
                <th>
                  সময়
                </th>
              </tr>
              <tr>
                <td>১</td>
                <td>বৃহস্পতিবার ও শনিবার</td>
                <td>সন্ধ্যা ৭ টা থেকে ৯ টা</td>
              </tr>
              <tr>
                <td>২</td>
                <td>শুক্রবার ও শনিবার</td>
                <td>সকাল ১০:৩০ থেকে ১ টা</td>
              </tr>
              <tr>
                <td>৩</td>
                <td>রবিবার ও বুধবার</td>
                <td>সন্ধ্যা ৭ টা থেকে ৯ টা</td>
              </tr>
            </table>
          </div>

          <h2 lang="bn">কোর্স ও ভর্তি সংক্রান্ত প্রশ্ন</h2>
          <div lang="bn" class="faq accordion" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  এই কোর্সটি কাদের জন্য?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">৩ – ১৮ বছর বয়সী যে কোন শিশু ও কিশোরদের জন্য।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  ক্লাস কিভাবে নেওয়া হবে?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">ZOOM Cloud Meetings app এর মাধ্যমে ক্লাস গুলো নেওয়া হবে।
                  <br>
                  ZOOM ডাওউনলোড করুণ <a target="_blank" href="https://zoom.us/support/download/"><u>এখানে</u></a>।
                  <br>
                  <br>
                  লাইভ অনুষ্ঠান StreamYard এর মাধ্যমে পরিচালনা করা হবে।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  এই কোর্সের ফি কত?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">ভর্তি / রেজিস্ট্রেসন ফি: ২০০ টাকা
                  <br>
                  মাসিক বেতন: ৩০০ টাকা
                  <br>
                  <br>
                  ভর্তির সময় মোট ৫০০ টাকা দিয়ে ভর্তি হতে হবে
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  কিভাবে ভর্তি হব?
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <ul>
                    <li>১। প্রথমে, আমাদের বিকাশে ৫০০ টাকা Send Money করতে হবে। (with Reference)</li>
                    <li>২। তারপর, 'Register Now' বাটনে ক্লিক করে ফরম পূরণ করে Submit করতে হবে।</li>
                    <li>৩। তারপর, ক্লাস গ্রুপে জয়েন করার জন্য: <a target="_blank"
                        href="https://www.facebook.com/TumioParbeProfile"><u>তুমিও পারবে প্রোফাইল</u></a>-এ friend
                      request
                      পাঠাতে হবে।</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  পেমেন্ট কিভাবে করব? (বিকাশ)
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  bKash No: 01612777712 (Personal Number, use Send Money)
                  <br>
                  <br>
                  উপরের বিকাশ নম্বরে Send Money option দিয়ে Admission Fee ও প্রথম মাসের Tuition Fee পাঠাতে হবে।
                  <br>
                  <br>
                  * Send Money করার সময় Reference এ অবশ্যই শিক্ষার্থী ও মাসের নাম উল্লেখ করতে হবে।
                  <br>

                  Reference দিতে সমস্যা হলে, টাকা পাঠানোর পর,
                  <ul>
                    <li><i class="fa-solid fa-circle-small" style="font-size: 12px;"></i> শিক্ষার্থীর নাম</li>
                    <li><i class="fa-solid fa-circle-small" style="font-size: 12px;"></i> মাসের নাম</li>
                    <li><i class="fa-solid fa-circle-small" style="font-size: 12px;"></i> যে নম্বর থেকে বিকাশ করেছেন
                    </li>
                  </ul>
                  এই তথ্য গুলো (+880 1612-777712) এই নম্বরে SMS করে পাঠিয়ে দিবেন।
                </div>
              </div>
            </div>
          </div>

        </article>
        <aside class="ccard">
          <figure class="thumbnail">
            <img src="/media/static/courses/bangla_course_thumbnail.jpg"
              alt="বাংলা প্রমিত ভাষার শুদ্ধ উচ্চারণ ও আবৃত্তি, আবৃত্তি, উপস্থাপনা, অভিনয়, লাইভ শো. Course Instructor: Shamima Akter">
          </figure>

          <div class="course-details">
            <div class="course-info">
              <p class="type">Live Online Course</p>
              <p class="price">
                <span class="price-extra">Monthly</span>
                ৳ 300
              </p>
            </div>
            <a href="https://forms.gle/oGvTTn3yeEBx55LBA" class="btn">Register Now <i
                class="fa-solid fa-arrow-right-long-to-line"></i></a>
            <p class="extra">
              Registration fee: <span>৳ 200</span>
              <br>
              Total: <span>৳ 500 (1st month)</span>
            </p>
          </div>
        </aside>
      </section>

    </main>

    <section id="navbar" hide="no">
      <!-- <p id="motto">
            সুপ্ত প্রতিভা ও সৃজনশীলতা চর্চায়
            <br>
            গড়ে উঠবে সুস্থ পৃথিবী
          </p> -->
      <nav>
        <ul>

          <li class="nav-item active">
            <a href="{% url 'home'%}">
              <span class="title">Home</span>
              <span class="icon"><i class="fa-light fa-house"></i></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="http://127.0.0.1:8000/#courses">
              <span class="title">Courses</span>
              <span class="icon"><i class="fa-light fa-graduation-cap"></i></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="http://127.0.0.1:8000/#awards">
              <span class="title">Awards</span>
              <span class="icon"><i class="fa-light fa-award"></i></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="http://127.0.0.1:8000/#about">
              <span class="title">About</span>
              <span class="icon"><i class="fa-light fa-circle-info"></i></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="http://127.0.0.1:8000/#contact">
              <span class="title">Contact</span>
              <span class="icon"><i class="fa-light fa-address-card"></i></span>
            </a>
          </li>
          <div class="indicator">
            <div class="left-handle"></div>
            <div class="right-handle"></div>
          </div>
        </ul>
      </nav>
    </section>
    <footer>
      <section id="top">
        <img class="wave" src="assets/img/footer-wave.svg" alt="Wave Image">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="links item">
                <h3>Useful Links</h3>
                <ul>
                  <li><i class="fas fa-chevron-right"></i><a href="#">Home</a></li>
                  <li><i class="fas fa-chevron-right"></i><a href="#about">About us</a></li>
                  <li><i class="fas fa-chevron-right"></i><a href="#awards">Awards</a></li>
                  <li><i class="fas fa-chevron-right"></i><a href="#courses">শুদ্ধ উচ্চারণ ও আবৃত্তি (Course)</a></li>
                  <li><i class="fas fa-chevron-right"></i><a href="#courses">Mastering Spoken
                      English (Course)</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="logo item">
                <img src="/media/static/logo.png" alt="Tumio Parbe">
              </div>
              <div class="tagline">
                <p class="m-0">শিশু-কিশোর পারফর্মিং প্ল্যাটফর্ম</p>
              </div>
              <div class="details middle">
                <a href="#footer">Terms of services</a>
                <span>|</span>
                <a href="#footer">Privacy policy</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="links item end">
                <h3>Reach us</h3>
                <div class="details">
                  <p>
                    <br>
                    Chattogram, Bangladesh
                    <br>
                    <br>
                    <strong>Phone:</strong>
                    <a href="tel:+880 1612-777712">+88&nbsp;01612&#8209;777712</a>
                    <br>
                    <strong>Email:</strong>
                    <a href="mailto:contact@muslehdin.com">hello@tumioparbe.com</a>
                    <br>
                    Join our <a target="_blank" href="https://facebook.com/groups/TumioParbe/"><strong>Facebook
                        Group</strong></a>
                  </p>
                  <div class="socials">
                    <a target="_blank" href="https://youtube.com/তুমিওপারবে/">
                      <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a target="_blank" href="https://instagram.com/TumioParbe/">
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://facebook.com/TumioParbeOfficial/">
                      <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/TumioParbe/">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://wa.me/+8801612777712/">
                      <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a target="_blank" href="https://linkedin.com/company/TumioParbe/">
                      <i class="fa-brands fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="bottom">
        <div class="container">
          <div class="copyright">
            Copyright 2022 &copy; <a href="https://www.muslehdin.com/">Tumio Parbe</a>
          </div>
          <div class="credits">
            Designed & Developed with <i class="fas fa-heart"></i> by <a href="#footer">Aminul Islam</a>
          </div>
        </div>
      </section>

    </footer>

    <script src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'core/js/lc_lightbox.lite.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/slick.min.js' %}"></script>
    <script src="{% static 'core/js/aos.js' %}"></script>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <script src="{% static 'core/js/script.js' %}"></script>
  </body>

</html>